@mixin transform($value){
	-webkit-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}

@mixin transition($value){
	-webkit-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin transformOrigin($value){
	-webkit-transform-origin: $value;
	-moz-transform-origin: $value;
	-ms-transform-origin: $value;
	-o-transform-origin: $value;
	transform-origin: $value;
}

@mixin boxShadow($value){
	-webkit-box-shadow: $value;
	box-shadow: $value;
}

$colorPrimary : #4F9AE2;

*{
	box-sizing: border-box;
}

.cb{
	clear: both;
}

body{
	background: #fafafa;
	position: relative;
	font-family: Helvetica, Arial;
	height: 100%;

	.scrollCover{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 17px;
		background: #fafafa;
	}

	a{
		text-decoration: none;
		color: $colorPrimary;
	}
}

.mainContainer{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding-left: 17px;
}

.introContainer{
	height: 70%;
	min-height: 400px;
    position: relative;

    .intro{
    	width: 100%;
    	position: absolute;
    	top: 50%;
    	text-align: center;
		@include transform(translateY(-50%));

		.illustration{
			height: 100px;
			background-image: url('../images/octopus.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 30px;
		}

		.headline{
			color: $colorPrimary;
			font-family: 'Montserrat';
			font-size: 44px;
			font-weight: 600;
			margin-bottom: 20px;
		}

		.description{
			width: 100%;
			font-size: 20px;
			max-width: 500px;
			font-family: 'Hind';
			color: rgba(0,0,0,0.5);
			margin: 0 auto;
		}
    }
}

.workContainer{
    height: 100%;
    width: 100%;
    max-width: 1500;
    margin: 0 auto;
    overflow: auto;
    position: relative;

    .work{
		height: 100%;
	    width: 100%;
	    overflow-y: scroll;
	    position: relative;    	
	    padding-left: 17px;
    }

    .categoriesContainer{
    	padding-top: 20px;
    	padding-bottom: 20px;

    	.categoriesSelector{
    		width: 600px;
		    margin: 0 auto;
		    font-family: 'Hind';
		    position: relative;

		    .categories{
		    	overflow: hidden;
		    	border: 1px solid #f1f1f1;
		    	background: white;
		    	position: relative;
		    	z-index: 10;
		    }

		    .category{
	    	    width: 20%;
			    float: left;
			    line-height: 50px;
			    text-align: center;
			    font-size: 13px;
			    text-transform: uppercase;
			    border-right: 1px solid #f1f1f1;
			    box-sizing: border-box;
			    color: rgba(0,0,0,0.3);
			    cursor: pointer;
			    @include transition(color 0.2s);

			    &:hover{
			    	color: rgba(0,0,0,0.6);
			    }

			    &.active{
			    	color: $colorPrimary;
			    }

			    &:last-child{
			    	border-right: none;
			    }
		    }

		    .selectedIndicator{
		    	height: 58px;
			    width: 20%;
			    position: absolute;
			    top: -3px;
			    left: 0;
			    background: lighten($colorPrimary, 15%);
			    @include transition(all 0.3s);

			    &.pos0{
					left: 0%;
			    }

			    &.pos1{
			    	left: 20%;
			    }

			    &.pos2{
			    	left: 40%;
			    }

			    &.pos3{
			    	left: 60%;
			    }

			    &.pos4{
			    	left: 80%;
			    }
		    }
    	}
    }
	
	.workItems{
		width: 100%;
		max-width: 1000px;
		padding-left: 30px;
		margin: 0 auto;
		margin-top: 20px;
		@include transition(all 0.3s);

		&.hidden{
			opacity: 0;
		}

		.item{
			background: white;
			width: 33%;
			float: left;
			@include boxShadow(1px 1px 3px 0px #f1f1f1);
			text-align: center;
			margin-bottom: 15px;
			@include transition(all 0.2s);
			margin-left: 15px;
			cursor: pointer;

			&:hover{
				@include boxShadow(1px 1px 13px 0px rgba(0,0,0,0.2));
			}

			.imageContainer{
				height: 250px;
				// background: rgba(0,0,0,0.15);

				.image{
					height: 100%;
					width: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
			}

			.detailsContainer{
				padding: 20px;
				padding-bottom: 0;
				text-align: left;
				border-top: 1px solid rgba(0,0,0,0.05);

				.titleContainer{
					font-family: 'Montserrat';
					margin-bottom: 10px;

					.name{
						float: left;
						color: rgba(0,0,0,0.6);
					    font-size: 16px;
    					line-height: 16px;
					}

					.year{
						float: left;
					    color: rgba(0, 0, 0, 0.3);
					    font-size: 12px;
					    line-height: 12px;
					    margin-top: 3px;
					    margin-left: 8px;
					}
				}

				.description{
					font-family: 'Hind';
				    font-size: 14px;
				    color: rgba(0,0,0,0.6);
				    margin-bottom: 10px;
				}
			}

			.tagsContainer{
				border-top: 1px dashed rgba(0,0,0,0.1);
				padding-left: 10px;

				.tag{
				    float: left;
				    font-family: 'Hind';
				    margin-right: 10px;
				    line-height: 40px;
				    font-size: 11px;
				    text-transform: uppercase;
				    color: rgba(0,0,0,0.4);
				    cursor: pointer;
				    @include transition(color 0.2s);

				    &:hover{
				    	color: rgba(0,0,0,0.7);
				    }

				    &::before{
				    	content: '·';
				    	margin-right: 10px;
				    }

				    &:first-child{
				    	&::before{
				    		content: '';
				    	}
				    }
				}
			}

			&.visible{
				opacity: 1;
			}

			&:nth-child(3n+1){
				margin-left: -30px;
			}

			&:nth-child(3n+2){
				width: 34%;
			}
		}

	}
}

.itemDetailsContainer{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 10;
	// padding: 20px;

	.backdrop{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.2);
		opacity: 0;
		@include transition(all 1s);

		&.show{
			opacity: 1;
		}
	}

	.animate{
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		background: white;
		opacity: 0;
		@include boxShadow(1px 1px 13px 0px rgba(0,0,0,0.2));

		&.full{
			top: 10%;
			left: 10%;
			height: 80%;
			width: 80%;
		}

		&.transition{
			@include transition(all 0.3s);
		}

		&.show{
			opacity: 1;
		}
	}
	
	.itemDetailsBuffer{
		position: relative;
	    z-index: 10;
	    height: 100%;
	    width: 100%;
	    overflow: auto;
	    padding: 20px;
	}

	.buttonClose{
	    position: absolute;
	    top: 50px;
	    right: 50px;
	    height: 20px;
	    width: 20px;
	    background-image: url('../images/cancel.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    opacity: 0.4;
	    cursor: pointer;
	    @include transition(all 0.2s);

	    &:hover{
	    	opacity: 0.8;
	    }
	}

	.itemDetails{
	    position: relative;
	    z-index: 10;
	    height: 100%;
	    width: 100%;
	    overflow: auto;
	    padding: 50px;
	    padding-left: 60px;
	    opacity: 0;
		@include transition(all 0.3s);

		&.show{
			opacity: 1;
		}

		.titleContainer{
			margin-bottom: 30px;

			.title{
			    font-family: 'Montserrat';
			    font-size: 46px;
			    color: rgba(0,0,0,0.6);
			    margin-bottom: 25px;
			}

			.meta{
			    overflow: hidden;
			    font-family: 'Montserrat';
			    font-weight: bold;

			    .designation{
		    	    float: left;
				    font-size: 22px;
				    color: rgba(0,0,0,0.4);
			    }

			    .duration{
		    	    float: left;
				    font-size: 22px;
				    font-weight: 300;
				    color: rgba(0,0,0,0.3);
				    margin-left: 15px;
			    }
			}
		}

		.storyContainer{
		    font-family: 'Hind';
		    font-size: 18px;
		    color: rgba(0,0,0,0.7);
		}

		.imageContainer{
			img{
				width: 100%;
				border: 1px solid rgba(0,0,0,0.1);
    			margin-bottom: 10px;
			}

			.caption{
			    text-align: center;
			    font-style: italic;
			    color: rgba(0,0,0,0.5);
			    margin-bottom: 50px;
			}
		}
	}
}