@charset "UTF-8";
/* line 21, style.scss */
* {
  box-sizing: border-box; }

/* line 25, style.scss */
.cb {
  clear: both; }

/* line 29, style.scss */
body {
  background: #fafafa;
  position: relative; }
  /* line 33, style.scss */
  body .scrollCover {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 17px;
    background: #fafafa; }

/* line 43, style.scss */
.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto; }

/* line 53, style.scss */
.introContainer {
  height: 70%;
  min-height: 400px;
  position: relative; }
  /* line 58, style.scss */
  .introContainer .intro {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    /* line 65, style.scss */
    .introContainer .intro .illustration {
      height: 100px;
      background-image: url("../images/octopus.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px; }
    /* line 74, style.scss */
    .introContainer .intro .headline {
      color: #4F9AE2;
      font-family: 'Montserrat';
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 20px; }
    /* line 82, style.scss */
    .introContainer .intro .description {
      width: 100%;
      font-size: 20px;
      max-width: 500px;
      font-family: 'Hind';
      color: rgba(0, 0, 0, 0.5);
      margin: 0 auto; }

/* line 93, style.scss */
.workContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative; }
  /* line 99, style.scss */
  .workContainer .work {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    padding-left: 17px; }
  /* line 107, style.scss */
  .workContainer .categoriesContainer {
    padding-top: 20px;
    padding-bottom: 20px; }
    /* line 111, style.scss */
    .workContainer .categoriesContainer .categoriesSelector {
      width: 600px;
      margin: 0 auto;
      font-family: 'Hind';
      position: relative; }
      /* line 117, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .categories {
        overflow: hidden;
        border: 1px solid #f1f1f1;
        background: white;
        position: relative;
        z-index: 10; }
      /* line 125, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .category {
        width: 20%;
        float: left;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        border-right: 1px solid #f1f1f1;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        -webkit-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
        /* line 138, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category:hover {
          color: rgba(0, 0, 0, 0.6); }
        /* line 142, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category.active {
          color: #4F9AE2; }
        /* line 146, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category:last-child {
          border-right: none; }
      /* line 151, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .selectedIndicator {
        height: 58px;
        width: 20%;
        position: absolute;
        top: -3px;
        left: 0;
        background: #91c0ed;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        /* line 160, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos0 {
          left: 0%; }
        /* line 164, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos1 {
          left: 20%; }
        /* line 168, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos2 {
          left: 40%; }
        /* line 172, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos3 {
          left: 60%; }
        /* line 176, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos4 {
          left: 80%; }
  /* line 183, style.scss */
  .workContainer .workItems {
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 191, style.scss */
    .workContainer .workItems.hidden {
      opacity: 0; }
    /* line 195, style.scss */
    .workContainer .workItems .item {
      background: white;
      width: 33%;
      float: left;
      -webkit-box-shadow: 1px 1px 3px 0px #f1f1f1;
      box-shadow: 1px 1px 3px 0px #f1f1f1;
      text-align: center;
      margin-bottom: 15px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      margin-left: 15px;
      cursor: pointer; }
      /* line 206, style.scss */
      .workContainer .workItems .item:hover {
        -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2); }
      /* line 210, style.scss */
      .workContainer .workItems .item .imageContainer {
        height: 250px;
        background: rgba(0, 0, 0, 0.15); }
      /* line 215, style.scss */
      .workContainer .workItems .item .detailsContainer {
        padding: 20px;
        padding-bottom: 0;
        text-align: left; }
        /* line 220, style.scss */
        .workContainer .workItems .item .detailsContainer .titleContainer {
          font-family: 'Montserrat';
          margin-bottom: 10px; }
          /* line 224, style.scss */
          .workContainer .workItems .item .detailsContainer .titleContainer .name {
            float: left;
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            line-height: 16px; }
          /* line 231, style.scss */
          .workContainer .workItems .item .detailsContainer .titleContainer .year {
            float: left;
            color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            line-height: 12px;
            margin-top: 3px;
            margin-left: 8px; }
        /* line 241, style.scss */
        .workContainer .workItems .item .detailsContainer .description {
          font-family: 'Hind';
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          margin-bottom: 10px; }
      /* line 249, style.scss */
      .workContainer .workItems .item .tagsContainer {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        padding-left: 10px; }
        /* line 253, style.scss */
        .workContainer .workItems .item .tagsContainer .tag {
          float: left;
          font-family: 'Hind';
          margin-right: 10px;
          line-height: 40px;
          font-size: 11px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          -webkit-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          /* line 264, style.scss */
          .workContainer .workItems .item .tagsContainer .tag:hover {
            color: rgba(0, 0, 0, 0.7); }
          /* line 268, style.scss */
          .workContainer .workItems .item .tagsContainer .tag::before {
            content: '·';
            margin-right: 10px; }
          /* line 274, style.scss */
          .workContainer .workItems .item .tagsContainer .tag:first-child::before {
            content: ''; }
      /* line 281, style.scss */
      .workContainer .workItems .item.visible {
        opacity: 1; }
      /* line 285, style.scss */
      .workContainer .workItems .item:nth-child(3n+1) {
        margin-left: -30px; }
      /* line 289, style.scss */
      .workContainer .workItems .item:nth-child(3n+2) {
        width: 34%; }

/*# sourceMappingURL=style.css.map */
