@charset "UTF-8";
/* line 29, style.scss */
* {
  box-sizing: border-box; }

/* line 33, style.scss */
.cb {
  clear: both; }

/* line 37, style.scss */
body {
  background: #fafafa;
  position: relative;
  font-family: Helvetica, Arial; }
  /* line 42, style.scss */
  body .scrollCover {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 17px;
    background: #fafafa; }

/* line 52, style.scss */
.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-left: 17px; }

/* line 62, style.scss */
.introContainer {
  height: 70%;
  min-height: 400px;
  position: relative; }
  /* line 67, style.scss */
  .introContainer .intro {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    /* line 74, style.scss */
    .introContainer .intro .illustration {
      height: 100px;
      background-image: url("../images/octopus.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px; }
    /* line 83, style.scss */
    .introContainer .intro .headline {
      color: #4F9AE2;
      font-family: 'Montserrat';
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 20px; }
    /* line 91, style.scss */
    .introContainer .intro .description {
      width: 100%;
      font-size: 20px;
      max-width: 500px;
      font-family: 'Hind';
      color: rgba(0, 0, 0, 0.5);
      margin: 0 auto; }

/* line 102, style.scss */
.workContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative; }
  /* line 108, style.scss */
  .workContainer .work {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
    padding-left: 17px; }
  /* line 116, style.scss */
  .workContainer .categoriesContainer {
    padding-top: 20px;
    padding-bottom: 20px; }
    /* line 120, style.scss */
    .workContainer .categoriesContainer .categoriesSelector {
      width: 600px;
      margin: 0 auto;
      font-family: 'Hind';
      position: relative; }
      /* line 126, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .categories {
        overflow: hidden;
        border: 1px solid #f1f1f1;
        background: white;
        position: relative;
        z-index: 10; }
      /* line 134, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .category {
        width: 20%;
        float: left;
        line-height: 50px;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        border-right: 1px solid #f1f1f1;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        -webkit-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
        /* line 147, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category:hover {
          color: rgba(0, 0, 0, 0.6); }
        /* line 151, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category.active {
          color: #4F9AE2; }
        /* line 155, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .category:last-child {
          border-right: none; }
      /* line 160, style.scss */
      .workContainer .categoriesContainer .categoriesSelector .selectedIndicator {
        height: 58px;
        width: 20%;
        position: absolute;
        top: -3px;
        left: 0;
        background: #91c0ed;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        /* line 169, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos0 {
          left: 0%; }
        /* line 173, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos1 {
          left: 20%; }
        /* line 177, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos2 {
          left: 40%; }
        /* line 181, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos3 {
          left: 60%; }
        /* line 185, style.scss */
        .workContainer .categoriesContainer .categoriesSelector .selectedIndicator.pos4 {
          left: 80%; }
  /* line 192, style.scss */
  .workContainer .workItems {
    width: 100%;
    max-width: 1000px;
    padding-left: 30px;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 200, style.scss */
    .workContainer .workItems.hidden {
      opacity: 0; }
    /* line 204, style.scss */
    .workContainer .workItems .item {
      background: white;
      width: 33%;
      float: left;
      -webkit-box-shadow: 1px 1px 3px 0px #f1f1f1;
      box-shadow: 1px 1px 3px 0px #f1f1f1;
      text-align: center;
      margin-bottom: 15px;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      margin-left: 15px;
      cursor: pointer; }
      /* line 215, style.scss */
      .workContainer .workItems .item:hover {
        -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2); }
      /* line 219, style.scss */
      .workContainer .workItems .item .imageContainer {
        height: 250px; }
        /* line 223, style.scss */
        .workContainer .workItems .item .imageContainer .image {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
      /* line 232, style.scss */
      .workContainer .workItems .item .detailsContainer {
        padding: 20px;
        padding-bottom: 0;
        text-align: left;
        border-top: 1px solid rgba(0, 0, 0, 0.05); }
        /* line 238, style.scss */
        .workContainer .workItems .item .detailsContainer .titleContainer {
          font-family: 'Montserrat';
          margin-bottom: 10px; }
          /* line 242, style.scss */
          .workContainer .workItems .item .detailsContainer .titleContainer .name {
            float: left;
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            line-height: 16px; }
          /* line 249, style.scss */
          .workContainer .workItems .item .detailsContainer .titleContainer .year {
            float: left;
            color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            line-height: 12px;
            margin-top: 3px;
            margin-left: 8px; }
        /* line 259, style.scss */
        .workContainer .workItems .item .detailsContainer .description {
          font-family: 'Hind';
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
          margin-bottom: 10px; }
      /* line 267, style.scss */
      .workContainer .workItems .item .tagsContainer {
        border-top: 1px dashed rgba(0, 0, 0, 0.1);
        padding-left: 10px; }
        /* line 271, style.scss */
        .workContainer .workItems .item .tagsContainer .tag {
          float: left;
          font-family: 'Hind';
          margin-right: 10px;
          line-height: 40px;
          font-size: 11px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          -webkit-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s; }
          /* line 282, style.scss */
          .workContainer .workItems .item .tagsContainer .tag:hover {
            color: rgba(0, 0, 0, 0.7); }
          /* line 286, style.scss */
          .workContainer .workItems .item .tagsContainer .tag::before {
            content: '·';
            margin-right: 10px; }
          /* line 292, style.scss */
          .workContainer .workItems .item .tagsContainer .tag:first-child::before {
            content: ''; }
      /* line 299, style.scss */
      .workContainer .workItems .item.visible {
        opacity: 1; }
      /* line 303, style.scss */
      .workContainer .workItems .item:nth-child(3n+1) {
        margin-left: -30px; }
      /* line 307, style.scss */
      .workContainer .workItems .item:nth-child(3n+2) {
        width: 34%; }

/* line 315, style.scss */
.itemDetailsContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 10; }
  /* line 325, style.scss */
  .itemDetailsContainer .backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    /* line 335, style.scss */
    .itemDetailsContainer .backdrop.show {
      opacity: 1; }
  /* line 340, style.scss */
  .itemDetailsContainer .animate {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    background: white;
    opacity: 0;
    -webkit-box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.2); }
    /* line 350, style.scss */
    .itemDetailsContainer .animate.full {
      top: 10%;
      left: 10%;
      height: 80%;
      width: 80%; }
    /* line 357, style.scss */
    .itemDetailsContainer .animate.transition {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    /* line 361, style.scss */
    .itemDetailsContainer .animate.show {
      opacity: 1; }
  /* line 366, style.scss */
  .itemDetailsContainer .itemDetailsBuffer {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 20px; }
  /* line 375, style.scss */
  .itemDetailsContainer .buttonClose {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 20px;
    width: 20px;
    background-image: url("../images/cancel.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    /* line 388, style.scss */
    .itemDetailsContainer .buttonClose:hover {
      opacity: 0.8; }
  /* line 393, style.scss */
  .itemDetailsContainer .itemDetails {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 50px;
    padding-left: 60px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    /* line 404, style.scss */
    .itemDetailsContainer .itemDetails.show {
      opacity: 1; }
    /* line 408, style.scss */
    .itemDetailsContainer .itemDetails .titleContainer {
      margin-bottom: 30px; }
      /* line 411, style.scss */
      .itemDetailsContainer .itemDetails .titleContainer .title {
        font-family: 'Montserrat';
        font-size: 46px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 25px; }
      /* line 418, style.scss */
      .itemDetailsContainer .itemDetails .titleContainer .meta {
        overflow: hidden;
        font-family: 'Montserrat';
        font-weight: bold; }
        /* line 423, style.scss */
        .itemDetailsContainer .itemDetails .titleContainer .meta .designation {
          float: left;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.4); }
        /* line 429, style.scss */
        .itemDetailsContainer .itemDetails .titleContainer .meta .duration {
          float: left;
          font-size: 22px;
          font-weight: 300;
          color: rgba(0, 0, 0, 0.3);
          margin-left: 15px; }
    /* line 439, style.scss */
    .itemDetailsContainer .itemDetails .storyContainer {
      font-family: 'Hind';
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7); }
    /* line 446, style.scss */
    .itemDetailsContainer .itemDetails .imageContainer img {
      width: 100%; }
    /* line 450, style.scss */
    .itemDetailsContainer .itemDetails .imageContainer .caption {
      text-align: center;
      font-style: italic;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 50px; }

/*# sourceMappingURL=style.css.map */
