<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Branding</div>
	<div class="meta">
		<div class="designation">Branding/logos done over the years</div>
		<!-- <div class="duration">2016</div> -->
	</div>
</div>
<div class="storyContainer">
	<p>
		These are other branding/logo designs I've done over the last few years.
	</p>

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/muroFull.jpg" alt="">
		<div class="caption">
			Branding for a wall decoration company. Done in 2012.
		</div>
	</div>	

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/descontoFull1.jpg" alt="">
		<div class="caption">
			Designed this student discount card, and related graphics in 2011. Was the president of design there.
		</div>
	</div>	

	<div class="imageContainer" style="width: 50%; margin: 0 auto">
		<img src="images/inspiria.png" alt="">
		<div class="caption">
			This was done for a student training startup in 2013.
		</div>
	</div>	
</div>