<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Campusghanta</div>
	<div class="meta">
		<div class="designation">Lead Designer</div>
		<div class="duration">2011-2013</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		Campusghanta was the first startup I got deeply involved with. I used to run a comics blog when CG invited me to draw comics for them. I eventually started doing all the design work and a lot of tech work too. I became a key member soon, but had to part ways when college ended and I got a job.
	</p>
	<p>
		Campusghanta as a brand had to be edgy, grungy, different from others. That's why I stayed away from flat, clean design because Campusghanta had to have a distinct personality.
	</p>
	<p>
		Some of the things I did at Campusghanta -
		<ul>
			<li>Designing social media graphics</li>
			<li>Redesigning the website</li>
			<li>Designing posters, tshirts, visiting cards etc.</li>
			<li>Managing the Wordpress installation the website ran on</li>
			<li>We had an internship program where I managed a team of 5 interns</li>
		</ul>
	</p>

	<div class="images" style="margin-top: 20px;">
		<div style="width: 40%; margin-left: 5%; float: left;">
			<div class="imageContainer">
				<img src="images/cgCover1.png" alt="">
				<div class="caption">
					Facebook cover
				</div>
			</div>	
		</div>
		<div style="width: 10%;float: left;">&nbsp;</div>
		<div style="width: 40%;float: left;">
			<div class="imageContainer">
				<img src="images/cgCover2.jpg" alt="">
				<div class="caption">
					Facebook cover for Bhagat Singh's death anniversary
				</div>
			</div>
		</div>
		<div class="cb"></div>
	</div>

	<div class="images" style="margin-top: 20px;">
		<div style="width: 40%; margin-left: 5%; float: left;">
			<div class="imageContainer">
				<img src="images/cgTip.png" alt="">
				<div class="caption">
					We used to post tips regularly
				</div>
			</div>	
		</div>
		<div style="width: 10%;float: left;">&nbsp;</div>
		<div style="width: 40%;float: left;">
			<div class="imageContainer">
				<img src="images/cgContentEntry.png" alt="">
				<div class="caption">
					Entries for a contest we had
				</div>
			</div>
		</div>
		<div class="cb"></div>
	</div>
</div>