<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">RealBox</div>
	<div class="meta">
		<div class="designation">Research Developer</div>
		<div class="duration">2012-2014</div>
	</div>
</div>
<div class="storyContainer">
	Campusghanta was the first startup I got deeply involved with. I used to run a comics blog when CG invited me to draw comics for them. I eventually started doing all the design work and a lot of tech work too. I became a key member soon, but had to part ways when college ended and I got a job.

	Some of the things I did at Campusghanta -
	<ul>
		<li>Designing social media graphics</li>
		<li>Redesigning the website</li>
		<li>Designing posters, tshirts, visiting cards etc.</li>
		<li>Managing the Wordpress installation the website ran on</li>
		<li>We had an internship program where I managed a team of 5 interns</li>
	</ul>

	<div class="imageContainer">
		<img src="images/menuHero.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>

	Since leaving Realbox, I've constantly been in touch with them - helping them a couple of projects and giving lectures to batches of new hires.
</div>