<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Dishoom Cafe & Lounge</div>
	<div class="meta">
		<div class="designation">Designer</div>
		<div class="duration">2015</div>
	</div>
</div>
<div class="storyContainer">
	Dishoom Cafe & Lounge was started by Amit, who started Young Wild Free Cafe. Dishoom was to be a biker-like, rugged type brand. I couldn't do more than the logo this time because of time limitation on my side.

	<div class="images" style="margin-top: 20px;">
		<div style="width: 40%; margin-left: 5%; float: left;">
			<div class="imageContainer">
				<img src="images/thumbDishoom.jpg" alt="">
				<!-- <div class="caption">
					This is the logo we started with. I was into hand lettering those days and thought that style would suit the brand too, so I drew it by hand.
				</div> -->
			</div>	
		</div>
		<div style="width: 10%;float: left;">&nbsp;</div>
		<div style="width: 40%;float: left;">
			<div class="imageContainer">
				<img src="images/dishoomPoster.jpg" alt="">
				<!-- <div class="caption">
					This was a word mark I later made because it had the name in full. It seemed to go better will all graphics so we decided to use this as the logo.
				</div> -->
			</div>
		</div>
		<div class="cb"></div>
	</div>
</div>