<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Graphic Design</div>
	<div class="meta">
		<div class="designation">Graphic Design done over the years</div>
		<!-- <div class="duration">2016</div> -->
	</div>
</div>
<div class="storyContainer">
	<p>
		These are other graphic designs I've done over the last few years.
	</p>

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/muskanFull.jpg" alt="">
		<div class="caption">
			These posters were done in 2013 and 2014 for an NGO.
		</div>
	</div>	

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/cgPostersFull.jpg" alt="">
		<div class="caption">
			These posters were designed for Campusghanta.
		</div>
	</div>	

	<div class="imageContainer" style="width: 50%; margin: 0 auto">
		<img src="images/breakingBad.jpg" alt="">
		<div class="caption">
			Made this for a friend who's a big Breaking Bad fan.
		</div>
	</div>	
</div>