<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">OrangeTwig Dashboard</div>
	<div class="meta">
		<div class="designation">UI/UX Designer, Front-end Developer</div>
		<div class="duration">2014 - Present</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		I was hired by OrangeTwig as UI/UX Designer, so that was my first job purely as a designer. But I love coding, plus the results are better if the same person designs and codes since there's nothing lost in communication, so very soo I started coding too.
	</p>
	<p>
		OrangeTwig is used by small online business for social media marketing. A lot of the users are old people who are bad with computers, so many times we've had to sacrifice simplicity and beauty for clarity and ease of use, but that's fine because the product's purpose is to usable over beautiful.
	</p>
	<p>
		These are the things I've been doing at OrangeTwig
		<ul>
			<li>Designing the UX and UI of the dashboard, landing page and mobile apps</li>
			<li>Coding the UI of the dashboard, landing page and mobile apps (using ionic)</li>
			<li>Used to do graphic design, but later we hired a couple of graphic designers and I started managing them</li>
			<li>Also worked on some tutorial videos and webinars</li>
		</ul>
	</p>
	<div class="imageContainer">
		<img src="images/otDashboard1.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>
	<div class="imageContainer">
		<img src="images/otDashboard2.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>
	<div class="imageContainer">
		<img src="images/otDashboard3.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>
	<div class="imageContainer">
		<img src="images/otDashboard4.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>
	
	<p>Tools I used
		<ul>
			<li>HTML, CSS (SASS), JavaScript (Angular 1 & 2, EJS)</li>
			<li>Adobe Photoshop, Adobe Illustrator</li>
			<li>Screenflow</li>
		</ul>
	</p>
</div>