<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">OrangeTwig Landing Page</div>
	<div class="meta">
		<div class="designation">UI/UX Designer, Front-end Developer</div>
		<div class="duration">2016</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		I decided to put this as a project separate from dashboard because it was made for a much wider audience, for a very different purpose and is a complete project in itself.
	</p>
	<p>
		The landing page was tricky, because we needed to show that there's so much our product can do, and at the same time show that our product is very simple. We had a lot of very interesting discussions about which features to highlight and which to not, since some were important from the product perspective and some from marketing perspective. It took a few iterations for us to finalize this landing page but we felt it communicated what our product was at that time, very well.
	</p>
	<p>Bonus : I designed a landing page for a discount we ran after a webinar for Etsy users. The Etsy community is built around passion and values, so I made a cutesy design that I thought would resonate with them. And the whole team made fun of me for half a day for that. Later when we tested different designs with some Etsy uers, that design was liked the most. Everyone was very surprised and will never forget that day... because I'll never let them.</p>
</div>