<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">OrangeTwig Landing Page</div>
	<div class="meta">
		<div class="designation">UI/UX Designer, Front-end Developer</div>
		<div class="duration">2016</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		I decided to put this as a project separate from dashboard because it was made for a much wider audience, for a very different purpose and is a complete project in itself. You can check it out <a href="http://orangetwig.com" target="_blank">here</a>.
	</p>
	<p>
		The landing page was tricky, because we needed to show that there's so much our product can do, and at the same time show that our product is very simple. We had a lot of very interesting discussions about which features to highlight and which to not, since some were important from the product perspective and some from marketing perspective. It took a few iterations for us to finalize this landing page but we felt it communicated what our product was at that time, very well.
	</p>
	<div class="images">
		<div style="width: 40%; margin-left: 5%; float: left;">
			<div class="imageContainer">
				<img src="images/otLandingMain.jpg" alt="">
				<div class="caption">
				<p>
					The main landing page. We tried to keep it simple, focused on content. Like a good design says 'look at this', not 'look at me'.
				</p>
				<p>
					The top section has a neat animation. Check it out <a href="http://orangetwig.com" target="_blank">here</a>.
				</p>
				</div>
			</div>	
		</div>
		<div style="width: 10%;float: left;">&nbsp;</div>
		<div style="width: 40%;float: left;">
			<div class="imageContainer">
				<img src="images/otLandingIg.jpg" alt="">
				<div class="caption">
					<p>
						Each page follows the same basic theme. There's a lot of information, but interspersed with images to avoid making it overwhelming or boring.
					</p>
					<p>
						Notice that all images used are in sync, color-wise. They break the monotony of text, but don't take attention away from it.
					</p>
				</div>
			</div>
		</div>
		<div class="cb"></div>
	</div>
	<p>Bonus : I designed a landing page for a discount we ran after a webinar for Etsy users. The Etsy community is built around passion and values, so I made a cutesy design that I thought would resonate with them. And the whole team made fun of me for half a day for that. Later when we tested different designs with some Etsy uers, that design was liked the most. Everyone was very surprised and will never forget that day... because I'll never let them.</p>

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/otLandingWebinar.png" alt="">
		<div class="caption">
			The orange holding hands with Instagram shows how well integrated OrangeTwig is with Instagram.
		</div>
	</div>	
</div>