<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">RealBox</div>
	<div class="meta">
		<div class="designation">Research Developer</div>
		<div class="duration">2012-2014</div>
	</div>
</div>
<div class="storyContainer">
	Realbox was my first real job, and I was also the first employee there. I met Saurabh Sir (my boss at Realbox) at a hackathon in September 2012. I was impressed by his work and he was looking for people to join him, so I did.

	We primarily made products for, and around the restaurant industry. Some of the products I worked on
	<ul>
		<li>Point Of Sale system for iPad</li>
		<li>Point of Sale system for android phones</li>
		<li>Analytics Dashboard for POS systems</li>
		<li>Interactive Restaurant Menus for iPad</li>
		<li>Online Ordering Systems</li>
	</ul>

	<div class="imageContainer">
		<img src="images/menuHero.jpg" alt="">
		<div class="caption">Landing page I designed for a product</div>
	</div>

	Since leaving Realbox, I've constantly been in touch with them - helping them a couple of projects and giving lectures to batches of new hires.
</div>