<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Vivah Place</div>
	<div class="meta">
		<div class="designation">UI/UX Designer, Front-end developer</div>
		<div class="duration">2013-14</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		Vivah Place was the brainchild of one of my college friends. I liked the idea and thought it had potential. He, me and another friend worked on it for a few months and were about to launch an alpha when we ran into a revenue generation problem. From there, we decided to not pursue it any further because we didn't have the resources we'd have to put in initially to get any return later. 
	</p>
	<p>
		I designed the UI/UX and coded the front end in this project.
	</p>	
	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/vivahPlaceFull1.jpg" alt="">
		<!-- <div class="caption">
			This is a promotional poster. We put out a series of posters like this, with different hashtags and background images. This was a very low cost marketing move that worked well.
		</div> -->
	</div>	

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/vivahPlaceFull2.jpg" alt="">
		<!-- <div class="caption">
			This is a promotional poster. We put out a series of posters like this, with different hashtags and background images. This was a very low cost marketing move that worked well.
		</div> -->
	</div>	

	<div class="imageContainer" style="width: 70%; margin: 0 auto">
		<img src="images/vivahPlaceFull3.jpg" alt="">
		<!-- <div class="caption">
			This is a promotional poster. We put out a series of posters like this, with different hashtags and background images. This was a very low cost marketing move that worked well.
		</div> -->
	</div>	

</div>