<div class="buttonClose"></div>
<div class="titleContainer">
	<div class="title">Young Wild Free</div>
	<div class="meta">
		<div class="designation">Designer</div>
		<div class="duration">2015</div>
	</div>
</div>
<div class="storyContainer">
	<p>
		Young Wild Free cafe was started by Amit, a friend I had worked with earlier. I was reluctant to take up a freelancing project at the time, but he couldn't find any other designer in time and I thought it would be interesting to work on.
	</p>
	<p>
		The cafe is themed around music. The branding had to reflect that, and yet not go overboard with it. I did the following things for Young Wild Free
		<ul>
			<li>Logo</li>
			<li>Promotional posters</li>
			<li>Menu</li>
			<li>Other graphics like social media assets, visiting cards etc.</li>
		</ul>
	</p>
	<div class="images">
		<div style="width: 40%; margin-left: 5%; float: left;">
			<div class="imageContainer">
				<img src="images/ywfLogoOld.jpg" alt="">
				<div class="caption">
					This is the logo we started with. I was into hand lettering those days and thought that style would suit the brand too, so I drew it by hand.
				</div>
			</div>	
		</div>
		<div style="width: 10%;float: left;">&nbsp;</div>
		<div style="width: 40%;float: left;">
			<div class="imageContainer">
				<img src="images/ywfLogoNew.jpg" alt="">
				<div class="caption">
					This was a word mark I later made because it had the name in full. It seemed to go better will all graphics so we decided to use this as the logo.
				</div>
			</div>
		</div>
		<div class="cb"></div>
	</div>
	<div class="imageContainer" style="width: 100%; margin: 0 auto">
		<img src="images/ywfMenu.png" alt="">
		<div class="caption">
			A page of the menu. This gets folded in half, so this is the left and the right page together. We decided to have a song and some photographs on each page because it keeps the user engaged, and it worked out really well. We got a lot of word of mouth marketing because of our unique menu design.
		</div>
	</div>	
	<div class="imageContainer" style="width: 50%; margin: 0 auto">
		<img src="images/ywfPoster.jpg" alt="">
		<div class="caption">
			This is a promotional poster. We put out a series of posters like this, with different hashtags and background images. This was a very low cost marketing move that worked well.
		</div>
	</div>	

</div>