@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url("../fonts/Mark Simonson - Proxima Nova A.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url("../fonts/Mark Simonson - Proxima Nova A Medium.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url("../fonts/Mark Simonson - Proxima Nova A Semibold.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 700;
    src: url("../fonts/Mark Simonson - Proxima Nova A Bold.otf") format("opentype");
}

body{
	font-family: ProximaNova;
	padding: 0;
	margin: 0;
    background: #f1f1f1;
}

.screen{
	padding: 40px;
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
    background: #fff;
}

.screen.mobileKeypad{
    min-height: 50%;
    /*height: 50%;*/
}

.screen.centered{
    text-align: center;
}

.screen.withCta{
	padding-bottom: 100px;
}

.title{
	color: #EC008C;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content{
	color: #5C6770;
}

.actions{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 40px;
    padding-top: 0px;
    padding-left: 60px;
}

.cta{
	height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    float: left;
    width: 50%;
    margin-left: 20px;
}

.cta:first-child{
	margin-left: -20px;
}

.cta.primary{
	color: white;
    background: #EC008C;
}

.cta.secondary{
	color: #5C6770;
}

.ctaSingle{
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: white;
    background: #EC008C;
    position: absolute;
    left: 0;
    bottom: 0;
}