@font-face {
    font-family: ProximaNova;
    font-weight: 400;
    src: url("../fonts/Mark Simonson - Proxima Nova A.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 500;
    src: url("../fonts/Mark Simonson - Proxima Nova A Medium.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: url("../fonts/Mark Simonson - Proxima Nova A Semibold.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: 700;
    src: url("../fonts/Mark Simonson - Proxima Nova A Bold.otf") format("opentype");
}

*{
    box-sizing: border-box;
}

body{
    font-family: ProximaNova;
    padding: 0;
    margin: 0;
    background: #f1f1f1;
}

.screen{
    padding: 40px;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.screen.mobileKeypad{
    min-height: 50%;
    /*height: 50%;*/
}

.screen.centered{
    text-align: center;
}

.screen.withCta{
    padding-bottom: 100px;
}

.screen.withPagination{
    padding-bottom: 80px;
}

.screen.withCta.withPagination{
    padding-bottom: 180px;
}

.title{
    color: #EC008C;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content{
    color: #5C6770;
}

.actions{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 40px;
    padding-top: 0px;
    padding-left: 60px;
}

.actions.inline{
    position: relative;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 0;
}

.withPagination .actions{
    bottom: 60px;
}

.cta{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    float: left;
    width: 50%;
    margin-left: 20px;
}

.cta:first-child{
    margin-left: -20px;
}

.cta.primary{
    color: white;
    background: #EC008C;
}

.cta.secondary{
    color: #5C6770;
}

.cta .rightArrow{
    background-image: url(../images/iconRightGrey.svg);
    background-size: auto 70%;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.cta .LeftArrow{
    background-image: url(../images/iconLeftGrey.svg);
    background-size: auto 70%;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.ctaSingle{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: white;
    background: #EC008C;
    position: absolute;
    left: 0;
    bottom: 0;
}

.numberInput{
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

.numberInput input{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    letter-spacing: 5px;
    border: none;
    background: transparent;
    width: 100%;
    color: #5C6770;
}

.numberInput .dashes{
    font-size: 24px;
    letter-spacing: 5px;
    color: #5C6770;
}

.homeOptions{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.homeOption{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
}

.optionDetails{
    display: inline-block;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-size: auto 40px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.optionTitle{
    font-size: 22px;
    color: #5C6770;
}

.optionDetails .description{
    color: #5C6770;
    margin-top: 5px;
    opacity: 0.7;
}

.homeOption:last-child{
    border-bottom: none;
}

.inputBlock{
    margin-top: 40px;
}

.question{
    color: #5C6770;
    font-weight: 600;
}

.answer{
    color: #7d858d;
    margin-top: 10px;
}

.answer a{
    text-decoration: none;
    color: #EC008C;
}

.input.tagCloud{
    /*margin-top: 10px;*/
}

.tag{
    padding: 10px 20px;
    border: 1px solid #7d858d;
    display: inline-block;
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 15px;
    color: #7d858d;
    box-sizing: border-box;
}

.tag.selected{
    background: #EC008C;
    color: white;
    border: 1px solid #EC008C;
}

.input.radio{
    margin-top: 15px;
}

.radio .option{
    padding-left: 30px;
    margin-top: 15px;
    position: relative;
}

.radio .indicator{
    position: absolute;
    top: 2px;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #7d858d;
    border-radius: 100px;
}

.radio .text{
    color: #7d858d;
}

.option.selected .text{
    color: #EC008C;
}

.option.selected .indicator{
    border: 1px solid #EC008C;
}

.option.selected .indicator .inner{
    position: absolute;
    background: #EC008C;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    top: 2px;
    left: 2px;
}

.input.text{
    margin-top: 20px;
}

.input textarea{
    border: 1px solid #7d858d;
    width: 100%;
    height: 90px;
    resize: none;
    font-family: ProximaNova;
    font-size: 14px;
    color: #7d858d;
    padding: 15px
}

.pagination{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 40px;
}

.pagination .buttonLeft, .pagination .buttonRight{
    height: 30px;
    width: 30px;
    background: #ec008c;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/iconRightWhite.svg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.pageNumber{
    font-size: 16px;
    line-height: 30px;
    color: #7d858d;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.pagination .buttonLeft{
    transform: rotateZ(180deg);
}

.buttonLeft.disabled, .buttonRight.disabled{
    opacity: 0.3;
}

#barcode .barTop{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    line-height: 50px;
    text-align: center;
    color: #5C6770;
}

#barcode .barBottom{
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 10;
}

#barcode .photo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/sample.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
}

#barcode .buttonLeft, #barcode .buttonRight{
    width: 33%;
    position: absolute;
    top: 0;
    line-height: 100px;
    text-align: center;
    color: #5C6770;
}

#barcode .buttonLeft{
    left: 0;
}

#barcode .buttonRight{
    right: 0;
}

#barcode .buttonCamera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image:url('../images/iconCameraWhite.svg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: auto 40%;
    background-size: auto 40%;
    height: 80px;
    width: 80px;
    background-color: #ec008c;
    border-radius: 100px;
}

.frameMainContainerOuter{
    position: relative;
    height: 100%;
    width: 100%;
}

.frameMainContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 200px;
    width: 320px;
}

.frameContainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    overflow: hidden;
}

.frame{
    position: absolute;
    height: 100%;
    width: 110%;
    border: 5px solid #ec008c;
    box-sizing: border-box;
    top: 0;
}

.frameContainer.left{
    left: 0;
}

.frameContainer.left .frame{
    left: 0;
}

.frameContainer.right{
    right: 0;
}

.frameContainer.right .frame{
    right: 0;
}

#barcode .toast{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 3px;
    color: #5C6770;
}

#barcodeDetails .barcode{
    width: 100%;
    height: 190px;
    background: #d2d2d2;
}

.dataBlock{
    margin-top: 30px;
}

.dataTitle{
    font-size: 14px;
    color: #5C6770;
}

.data{
    font-size: 26px;
    margin-top: 10px;
    color: #5C6770;
}