<html>
	<head>
		<title>Height & Weight Charts</title>
		<meta name="viewport" content="width=device-width">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="stylesheet" href="../styles/main.css">
		<link rel="manifest" href="/manifest.json">
		<script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../scripts/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="../scripts/main.js"></script>
	</head>
	<body>
		<div id="mainContainer">
			<div class="screen charts">
				<div class="navbar">
					<div class="buttonBack"></div>
					<div class="navTitle">Height & Weight Charts</div>
				</div>
				<div class="content">
					
					<div class="childrenContainer">
						<div class="sectionTitle">Select Child</div>
						<div class="selectedChild">
							<select name="" id="">
								<option value="">Vasu</option>
								<option value="">Kavya</option>
								<option value="">Rupal</option>
								<option value="">Chetan</option>
							</select>
						</div>
						<div class="childActions">
							<div class="actionContainer">
								<div class="action edit">Edit Child</div>
							</div>
							<div class="actionContainer">
								<div class="action delete">Delete Child</div>
							</div>
							<div class="actionContainer">
								<div class="action add">Add Child</div>
							</div>
						</div>
					</div>

					<div class="chartContainer">
						<div class="chart">
							<div class="row header">
								<div class="td">Age</div>
								<div class="td">Normal Height <span class="unit">(Cm)</span></div>
								<div class="td">Actual Height <span class="unit">(Cm)</span></div>
								<div class="td">Normal Weight <span class="unit">(Kg)</span></div>
								<div class="td">Actual Weight <span class="unit">(Kg)</span></div>
								<div class="td"></div>
							</div>
							<div class="row">
								<div class="td">Birth</div>
								<div class="td">50.5</div>
								<div class="td">51</div>
								<div class="td">3.3</div>
								<div class="td">3.5</div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">3 m</div>
								<div class="td">61.1</div>
								<div class="td">63</div>
								<div class="td">6</div>
								<div class="td">6.2</div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">6 m</div>
								<div class="td">67.8</div>
								<div class="td">68</div>
								<div class="td">7.8</div>
								<div class="td">8</div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">9 m</div>
								<div class="td">72.3</div>
								<div class="td"></div>
								<div class="td">9.2</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">1 y</div>
								<div class="td">76.1</div>
								<div class="td"></div>
								<div class="td">10.2</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">2 y</div>
								<div class="td">85.6</div>
								<div class="td"></div>
								<div class="td">12.3</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">3 y</div>
								<div class="td">94.9</div>
								<div class="td"></div>
								<div class="td">14.6</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">4 y</div>
								<div class="td">102.9</div>
								<div class="td"></div>
								<div class="td">16.7</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">5 y</div>
								<div class="td">109.9</div>
								<div class="td"></div>
								<div class="td">18.7</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
							<div class="row">
								<div class="td">6 y</div>
								<div class="td">116.1</div>
								<div class="td"></div>
								<div class="td">20.7</div>
								<div class="td"></div>
								<div class="td">
									<div class="edit"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>